.fullscreen {
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.row {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.col {
	flex: 1 1 0px;
	margin: 10px;
}
