.dropshadow {
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.text-glow {
	text-shadow: 0 0 20px rgba(255, 255, 255, 0.5);

}

.text-align-center {
	text-align: center;
}

.mw-90 {
	max-width: 90%;
}

.thumbnail {
	object-fit: cover;
	width: 200px;
	height: 200px;
	border: 2px solid black;
	border-radius: 5px;
	background-color: white;
	padding: 5px;
	flex: 0;
}
