.footer {
	border-top: 1px dashed white;
	background: $color5;
	color: white;
	display: flex;
	align-items: center;
	padding: 20px;
}

.footer .nav-link {
	margin: 20px;
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}